.top-section {
    background-color: darksalmon;
    padding: 50px;
    text-align: center;
    font-size: larger;
}

.middle-section {
    background-color: white;
    padding: 300px;
}

.bottom-section {
    background-color: darksalmon;
    padding: 30px;
    text-align: center;
}

.logins{
    background-color: darksalmon;
    color: black;
    border: 2px solid black;
    text-align: center;
    word-wrap: break-word;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    width: 700px;
    padding: 30px;
    
}

.logins:hover{
    background-color: brown;
    color: white;
}

html {
    scroll-behavior: smooth;
}