.top-section {
    background-color: darksalmon;
    padding: 50px;
    text-align: center;
    font-size: larger;
    display: block;
}

.middle-section {
    background-color: white;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
}

.bottom-section {
    background-color: darksalmon;
    padding: 30px;
    text-align: center;
    display: block;
}

.logins{  
    background-color: darksalmon;
    color: black;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
    font-size: larger;
    text-decoration: none;
    width: 5000px;
    padding: 30px;
}

.login-button {
    background-color: darksalmon;
    border-radius: 2px;
    color: black;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.logins:hover, .login-button:hover{
    background-color: brown;
    color: white;
}

.home-logout {
    color: black;
    text-decoration: underline;
}

.home-logout:hover {
    color: white;
    
}

table {
    width: 100%;
    line-height: 100px;
    border: 2px solid black;
    text-align: center;
}

thead {
    background-color: darksalmon;
    border: 2px solid black;
}

th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
}

td:hover {
    background-color: brown;
    color: white;
    border: 2px solid black;
}

html {
    scroll-behavior: smooth;
}
