.top-section {
<<<<<<< HEAD
    background-color: darkseagreen;
=======
    background-color: darksalmon;
>>>>>>> 29a09a05bab64e8fb17504b144b8b5f20071c982
    padding: 50px;
    text-align: center;
    font-size: larger;
    display: block;
}

.middle-section {
    background-color: white;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
}

.bottom-section {
    background-color: darkseagreen;
    padding: 30px;
    text-align: center;
    display: block;
}

.logins{  
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
    font-size: larger;
    text-decoration: none;
    width: 5000px;
    padding: 30px;
}

.login-button {
    background-color:  greenyellow;
    border-radius: 2px;
    color: black;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.logins:hover, .login-button:hover{
    background-color: green;
    color: white;
}

html {
    scroll-behavior: smooth;
}
